.Newsandupdate {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
     }
     
     .Newsandupdate img {
       margin: 10px;
       max-width: 100%;
       height: auto;
     }
     
     @media only screen and (max-width: 600px) {
       /* Styles for screens up to 600px wide */
       .Newsandupdate {
         flex-direction: column;
         margin-right: 15px;
       }
     }